.full{
    width: 100%;
    background-color: #2D033B;
    height: auto;
}
body{
    line-height: var(--bs-body-line-height);
}
p{
    color: rgb(242, 246, 249);
}
h3{
    color: white;
}
.a{
    position: sticky;
    top: 0%;
    z-index: 1;
    width: 100% !important;
    background-color: #2D033B !important;
}

.aa{

    margin-left: 50% !important;
}
.aa:hover{
    color: black;
}
.caro{
    width: 100%;
    height: 700px;
}
.cw{
    width: 100%;
    height: 700px;
}
.iw{
    width: 100%;
    height: 700px ;
}
.row{
    display: flex;
}
.gap{
    width: 100%;
    height: 100px;
}
.ab{
    text-align: start;
}
.nex{
    margin-left: 30px;
}
#abim{
    width:100%;
    height: 353px;
}
.in{
    display: flex;
    height: 500px;
    backdrop-filter: blur(100px);
    border-radius: 5px;
    overflow: scroll;
    overflow-y: hidden;
}
.in::-webkit-scrollbar{
    width: 0px;
    height: 5px;
}
#ga{
    width: 100%;
    height: 70px;
}
.ev{
    margin-right: 50px;
    flex: 0 0 auto;
    width:400px ;
    height: 500px;
}

.im{
    width: 100%;
    height: 470px;
}
.event{
    text-align: center;
}
#BUT{
    margin-top: 30px;
    background-color: #62B6B7;
    border-radius: 5px;
}
#BUT:hover{
    background-color: cadetblue;
}
.cont{
    background-color: #0C134F;
}
.foo{
    text-align: start;
    background-color:#0C134F;
}
.body{
    color: aliceblue;
}
a{
    text-decoration: none;
    color: white !important;
}
.d{
    margin-top: 30px;
    height: 250px;
}
.facility{
    display: flex;
    height: 250px;
    margin-top: 180px;
    background-color: antiquewhite;
}
.bus{
    width: 33.5%;
    height: 250px;
    background-color: #62B6B7;
}
.fee{
        width: 33.5%;
        background-color: yellow;
        height: 250px;
}
.activity{
    width: 33.5%;
    height: 250px;
    background-color: orange;
}
.map{
    display: flex;
    
}
.ma{
    width: 75%;
    height: 500px;
}
.form{
    background-color: #62B6B7;
    height: 500px;
    width: 25%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.msg{
    text-align: center;
    position: relative;
    top: 13.5%;
    width: 100%;
    height: 435px;
    border-radius: 20px;

    background-color: #0C134F;
}
.for{
    position: relative;
    left: 25px;
    top: -60px;
    width: 85%;
    text-align: center;
    border-radius: 15px;
    height: 200px;
    background-color: rgb(249, 249, 243);
}
h3{
    color: black;
}
#name,#email,#text{
    position: relative;
    top: -40px;
    width: 80%;
    padding: 10px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid black;
}
#don{
    width: 60%;
    background-color: transparent;
    color: blue;
    border: 0;
}
input:focus{
    outline: 0;
}

@media screen and (max-width:1040px) {
    
    .full{
        width: 100%;
    }
    
    .caro{
        height: 480px;
    }
    .iw{
        width: 100%;
        height: 480px;
    }
    .cw{
        width: 100%;
        height: 480px;
    }
    .gap{
        height: 60px;
    }
    .row{
        margin-right: 0;
        margin-left: 5px;
        display: flex !important;
        width: 100%;
        flex-wrap: wrap !important;
    }
    #admin{
        width: 100% !important;
    }
    .ab{
        width: 100% !important;
    }
    .d{
        height: 200px;
    }
    .nex{
        margin-left: 0;
        width: 100% !important;
    }
    .card{
        width: 300px;
        height: 450px;
    }
    #BUT{margin-top: 60px;
    }
}
.im{
    width: 100%;
    height: 100%;
}
@media screen and (max-width:1199px) and (min-width:750px) {
    .form{
        width: 40%;
    }
    .ma{
        width: 60%;
    }
}
@media screen and (max-width:750px) and (min-width:330px) {
    .map{
        flex-wrap: wrap;
        justify-content: center;
    }
    .ma{
        width: 100%;
    }
    .form{
        width: 80%;

    }
}
@media screen and (max-width:400px) and (min-width:330px) {
    .form{
        width: 90%;
    }
}